# Python
__pycache__/
*.egg-info/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Ignore data files
data/raw/*
data/outputs/*
data/processed/*

# Keep folder structure
!data/.gitkeep
!data/raw/.gitkeep
!data/outputs/.gitkeep
!data/processed/.gitkeep

# Models / large artifacts
*.pkl
*.joblib
*.pt
*.pth
*.bin
*.sqlite
*.db

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
